include components/configurations.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/styles.css")
        link(rel="stylesheet", href="../css/break_desktop.css", media="(min-width: 988px)")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap", rel="stylesheet")
        title Social Proof
    body
        //- .img 
        //-     span.img_element-t
        //-     span.img_element-b
        main 
            .content        
                h1=titulo
                p We only great provide products combined with excellent customer services. See what our satisfied customers are saying about our services.
            section.rating
                +rating('Rated 5 Stars in Reviews', '../images/icon-star.svg')
                +rating('Rated 5 Stars in Report Guru', '../images/icon-star.svg')
                +rating('Rated 5 Stars in BestTech', '../images/icon-star.svg')
            section.opinions
                +opinion('../images/image-colton.jpg', 'Colton Smith', buyer, '"We needed the same printed desing as the one we had ordered a week prior. Not only did they find the original order, but we also received it in time.Excellent!"')
                +opinion('../images/image-irene.jpg', 'Irene Roberts', buyer, '"Customer service is always excellent and very quick turn around. Completely delighted with the simplicity of the purchase and the speed of delivery."')
                +opinion('../images/image-anne.jpg', 'Anne Wallace', buyer, '"Put an order with this company and can only praise them for them for the very high standard. Will definitely use them again and recommend them to everyone!"')
